html {
  font-size: 16px;
  line-height: 1.25;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms, color 250ms, border-color 250ms;
}
.btn--xsm {
  height: 1.875rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.75rem;
  font-size: 0.75rem;
}
.btn--sm {
  height: 2.1875rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.0625rem;
  font-size: 0.875rem;
}
.btn--md {
  height: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 2.375rem;
  font-size: 1rem;
}
.btn--lg {
  height: 2.8125rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  line-height: 2.6875rem;
  font-size: 1.125rem;
}
.btn--xlg {
  height: 3.125rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 3rem;
  font-size: 1.25rem;
}
.btn--green {
  background-color: #3f9927;
  color: #fff;
  border: 0.0625rem solid #327a1f;
}
.btn--green:hover,
.btn--green:focus {
  background-color: #398a23;
}
.btn--green:active,
.btn--green--active {
  background-color: #368221;
}
.btn--red {
  background-color: #ce3434;
  color: #fff;
  border: 0.0625rem solid #a62828;
}
.btn--red:hover,
.btn--red:focus {
  background-color: #bb2d2d;
}
.btn--red:active,
.btn--red--active {
  background-color: #b12b2b;
}
.btn--blue {
  background-color: #5e57be;
  color: #fff;
  border: 0.0625rem solid #443ea0;
}
.btn--blue:hover,
.btn--blue:focus {
  background-color: #4d46b4;
}
.btn--blue:active,
.btn--blue--active {
  background-color: #4942aa;
}
.btn--yellow {
  background-color: #dfff60;
  color: #000;
  border: 0.0625rem solid #d1ff1a;
}
.btn--yellow:hover,
.btn--yellow:focus {
  background-color: #d8ff3d;
}
.btn--yellow:active,
.btn--yellow--active {
  background-color: #d4ff2b;
}
.btn--expanded {
  width: 100%;
}
.btn--condensed {
  padding-left: 0;
  padding-right: 0;
}
.btn--underline {
  text-decoration: underline;
}
.input {
  display: block;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  border: 0.0625rem solid #989494;
  cursor: pointer;
  transition: background-color 250ms, color 250ms, border-color 250ms;
}
.input--xsm {
  height: 1.875rem;
  padding: 0 0.8rem;
  line-height: 1.75rem;
  font-size: 0.75rem;
}
.input--sm {
  height: 2.1875rem;
  padding: 0 1rem;
  line-height: 2.0625rem;
  font-size: 0.875rem;
}
.input--md {
  height: 2.5rem;
  padding: 0 1rem;
  line-height: 2.375rem;
  font-size: 1rem;
}
.input--lg {
  height: 2.8125rem;
  padding: 0 1rem;
  line-height: 2.6875rem;
  font-size: 1.125rem;
}
.input--xlg {
  height: 3.125rem;
  padding: 0 1rem;
  line-height: 3rem;
  font-size: 1.25rem;
}
.textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0.0625rem solid #989494;
  cursor: pointer;
  transition: background-color 250ms, color 250ms, border-color 250ms;
}
.textarea--xsm {
  height: 3.125rem;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.textarea--sm {
  height: 4.375rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
.textarea--md {
  height: 5.625rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.textarea--lg {
  height: 6.875rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
}
.textarea--xlg {
  height: 8.125rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}
.textarea--no-resize {
  resize: none;
}
.textarea--horizontal-resize {
  resize: horizontal;
}
.textarea--vertical-resize {
  resize: vertical;
}
.select {
  display: block;
  width: 100%;
  border: 0.0625rem solid #989494;
  cursor: pointer;
}
.select--xsm {
  height: 1.875rem;
  padding: 0 0.8rem;
  line-height: 1.75rem;
  font-size: 0.75rem;
}
.select--sm {
  height: 2.1875rem;
  padding: 0 1rem;
  line-height: 2.0625rem;
  font-size: 0.875rem;
}
.select--md {
  height: 2.5rem;
  padding: 0 1rem;
  line-height: 2.375rem;
  font-size: 1rem;
}
.select--lg {
  height: 2.8125rem;
  padding: 0 1rem;
  line-height: 2.6875rem;
  font-size: 1.125rem;
}
.select--xlg {
  height: 3.125rem;
  padding: 0 1rem;
  line-height: 3rem;
  font-size: 1.25rem;
}
.checkbox,
.radio {
  position: relative;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .checkbox,
  .radio {
    display: inline-flex;
  }
}
@media only screen and (max-width: 767px) {
  .checkbox,
  .radio {
    display: flex;
  }
}
.checkbox__control,
.radio__control,
.checkbox__description:after,
.radio__description:after {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.0625rem;
  left: 0;
}
.checkbox__control,
.radio__control {
  visibility: hidden;
}
.checkbox__description,
.radio__description {
  padding-left: 1.625rem;
}
.checkbox__description:after,
.radio__description:after {
  border: 0.0625rem solid #989494;
}
.checkbox__description:after {
  content: '\2713';
  font-size: 0;
  text-align: center;
  line-height: 1rem;
  color: #7a7676;
  transition: font-size 250ms;
}
.checkbox__control:checked + .checkbox__description:after {
  font-size: 1rem;
}
.radio__description:after {
  content: ' ';
  border-radius: 100%;
  transition: font-size 250ms;
}
.radio__description:before {
  content: ' ';
  position: absolute;
  left: 0.2rem;
  top: 0.2625rem;
  width: 0.6rem;
  height: 0.6rem;
  opacity: 0;
  background-color: #7a7676;
  border-radius: 100%;
  transition: opacity 250ms;
}
.radio__control:checked + .radio__description:before {
  opacity: 1;
}
.switcher {
  position: relative;
  height: 1rem;
}
.switcher__control {
  position: absolute;
  visibility: hidden;
}
.switcher__control:checked + .switcher__state {
  background-color: #51c551;
}
.switcher__control:checked + .switcher__state:after {
  left: 1.45rem;
}
.switcher__state {
  position: relative;
  display: inline-flex;
  width: 2.5rem;
  height: 1rem;
  border: 1px solid #989494;
  border-radius: 0.75rem;
  background-color: #fff;
  transition: background-color 250ms;
}
.switcher__state:after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: -1px;
  display: inline-flex;
  height: 1rem;
  width: 1rem;
  border: 1px solid #989494;
  border-radius: 100%;
  background-color: #fff;
  transform: translateY(-50%);
  transition: left 250ms;
}
.control-single,
.input-single {
  display: flex;
  align-items: center;
}
.control-single + .control-single,
.input-single + .input-single {
  margin-top: 0.3125rem;
}
h1,
.h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.625rem;
}
h2,
.h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
h3,
.h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.375rem;
}
h4,
.h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}
h5,
.h5 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
h6,
.h6 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.form__item {
  margin-bottom: 0.625rem;
}
.form__item--separate {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}
.form__item-in {
  margin-bottom: 0.3125rem;
}
.list-unstyled {
  padding: 0;
  list-style-type: none;
}
.nav {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.nav__link {
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}
.nav--vertical {
  flex-direction: column;
}
.nav--vertical__item + .nav--vertical__item {
  margin-top: 0.5rem;
}
.nav--horizontal {
  flex-direction: row;
}
.nav--horizontal__link {
  padding-left: 0.5rem;
}
.nav--expanded {
  flex-direction: row;
}
.nav--expanded__item {
  flex-grow: 1;
}
.nav--expanded__link {
  text-align: center;
}
.btn-group {
  display: flex;
  margin-left: 0.0625rem;
  font-size: 0;
}
@media only screen and (max-width: 767px) {
  .btn-group {
    flex-direction: column;
  }
}
.btn-group__item {
  margin-left: -0.0625rem;
}
.btn-group--expanded__item {
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .checkboxes-horizontal,
  .radios-horizontal {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .checkboxes-horizontal__item + .checkboxes-horizontal__item,
  .radios-horizontal__item + .radios-horizontal__item {
    margin-left: 0.625rem;
  }
}
@media only screen and (max-width: 767px) {
  .checkboxes-horizontal__item + .checkboxes-horizontal__item,
  .radios-horizontal__item + .radios-horizontal__item {
    margin-top: 0.625rem;
  }
}
.breadcrumbs {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 0.3125rem;
}
.breadcrumbs__item:not(:last-child):after {
  content: '\203A';
  margin-left: 0.3125rem;
}
.breadcrumbs__link,
.breadcrumbs__current {
  white-space: nowrap;
}
.breadcrumbs__link {
  text-decoration: none;
  color: #000;
}
.breadcrumbs__current {
  cursor: default;
}
.breadcrumbs--center {
  justify-content: center;
}
.pagination {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.pagination__item:not(:last-child) {
  margin-right: 0.3125rem;
}
.pagination__link {
  text-decoration: none;
  color: #000;
}
.pagination__current {
  cursor: default;
}
.pagination--center {
  justify-content: center;
}
.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail__img {
  max-width: 100%;
  max-height: 100%;
}
.thumbnail--left {
  justify-content: flex-start;
}
.thumbnail--right {
  justify-content: flex-end;
}
.thumbnail--square:after {
  content: ' ';
  display: block;
  padding-bottom: 100%;
}
.thumbnail--bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
