@import 'settings'

.blackout
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    z-index 20
    overflow auto
    background-color loading-screen-background

    if transition-enabled
        &--fade
            transform translate(9999px)
            opacity 0
            transition opacity transition-time-md, transform 0s ease transition-time-md
            
    else
        display none

    &--open
        transform translate(0, 0)
        
        if !transition-enabled
            display block
        
        &^[0]--fade
            if transition-enabled
                opacity 1
                transition opacity transition-time-md, transform 0s ease 0s