@import 'settings'

.blackout
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    z-index 20
    overflow auto
    background-color loading-screen-background
    
    &:not(&--fade)
        display none

    &--fade
        if transition-enabled
            transform translate(9999px)
            opacity 0
            transition opacity transition-time-md, transform 0s ease transition-time-md

    &--open
        transform translate(0, 0)
        
        &:not(^[0]--fade)
            display block
        
        &^[0]--fade
            if transition-enabled
                opacity 1
                transition opacity transition-time-md, transform 0s ease 0s