@import 'settings'

.loader
	&--striped-bar
		height 1.875rem
		background-color loader-striped-bar-background
		background-image repeating-linear-gradient(45deg, loader-striped-bar-stripe-color, loader-striped-bar-stripe-color 0.625rem, transparent 0.625rem, transparent 1.25rem)
		background-size 1.75rem 1.875rem
		animation loader-striped-bar-animaton 3s linear infinite
		

@keyframes loader-striped-bar-animaton
	from
		background-position 1.75rem 1.875rem
	
	to
		background-position 0 1.875rem