@import 'settings'
@import 'mixins/lists'

.pagination
    display flex
    {list-unstyled}

    &__item
        if pagination-item-margin > 0
            &:not(:last-child)
                margin-right pagination-item-margin

    &__link
        if pagination-link-underline
            text-decoration underline
        else
            text-decoration none
        color pagination-link-color

    &__current
        cursor default

.pagination--center
    justify-content center