.wrapper {
  padding: 25px 20px;
}
.main-header {
  border-bottom: 1px solid #ccc;
}
.main-footer {
  padding: 15px;
  background-color: #ccc;
}
.nav--gray__link {
  height: 40px;
  line-height: 40px;
  background-color: #6b6363;
  color: #fff;
  transition: background-color 200ms;
}
.nav--gray__link:hover {
  background-color: #7b7272;
}
