extends chunks/layout.jade

block main    
    h2 Breadcrumbs

    ol.breadcrumbs
        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Main page

        li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Catalog

        li.breadcrumbs__item
            span.breadcrumbs__current(href="#") Product page