extends chunks/layout.jade

block main
    h1 Buttons
    
    h4 Extra small height of buttons
    
    p
        .btn--group
            button.btn.btn--xsm-h Test button
            button.btn.btn--xsm-h.btn--green Test button
            button.btn.btn--xsm-h.btn--red Test button
            button.btn.btn--xsm-h.btn--blue Test button
            button.btn.btn--xsm-h.btn--yellow Test button
    
    h4 Small height of buttons
    
    p
        button.btn.btn--sm-h Test button
        button.btn.btn--sm-h.btn--green Test button
        button.btn.btn--sm-h.btn--red Test button
        button.btn.btn--sm-h.btn--blue Test button
        button.btn.btn--sm-h.btn--yellow Test button
    
    h4 Medium height of buttons
    
    p
        button.btn.btn--md-h Test button
        button.btn.btn--md-h.btn--green Test button
        button.btn.btn--md-h.btn--red Test button
        button.btn.btn--md-h.btn--blue Test button
        button.btn.btn--md-h.btn--yellow Test button
    
    h4 Large height of buttons
    
    p
        button.btn.btn--lg-h Test button
        button.btn.btn--lg-h.btn--green Test button
        button.btn.btn--lg-h.btn--red Test button
        button.btn.btn--lg-h.btn--blue Test button
        button.btn.btn--lg-h.btn--yellow Test button
    
    h4 Extra large height of buttons
    
    p
        button.btn.btn--xlg-h Test button
        button.btn.btn--xlg-h.btn--green Test button
        button.btn.btn--xlg-h.btn--red Test button
        button.btn.btn--xlg-h.btn--blue Test button
        button.btn.btn--xlg-h.btn--yellow Test button
    
    h4 Buttons with a tag
    
    p
        a.btn.btn--md-h(href='#') Test button-link
        a.btn.btn--md-h.btn--green(href='#') Test button-link
        a.btn.btn--md-h.btn--red(href='#') Test button-link
        a.btn.btn--md-h.btn--blue(href='#') Test button-link
        a.btn.btn--md-h.btn--yellow(href='#') Test button-link
    
    h4 Expanded button
    
    p
        button.btn.btn--md-h.btn--blue.btn--expanded Lorem ipsum dolor sit amet

    h4 Expanded button, underline style
    
    p
        button.btn.btn--md-h.btn--blue.btn--underline.btn--expanded Lorem ipsum dolor sit amet
    
    h2 Buttons group

    h4 Simple group
    
    .btn-group
        .btn-group__item
            button.btn.btn--lg-h.btn--green Test button #1
        .btn-group__item
            button.btn.btn--lg-h.btn--green Test button #2
        .btn-group__item            
            button.btn.btn--lg-h.btn--green Test button #3
    
    h4 Expanded group

    .btn-group.btn-group--expanded
        .btn-group__item.btn-group--expanded__item
            button.btn.btn--lg-h.btn--green.btn--expanded Test button
        .btn-group__item.btn-group--expanded__item
            button.btn.btn--lg-h.btn--red.btn--expanded Test button
        .btn-group__item.btn-group--expanded__item
            button.btn.btn--lg-h.btn--blue.btn--expanded Test button