extends chunks/layout.jade

block main    
    h2 Inputs1

    h4 Extra small height input
    
    p
        input.input.input--xsm(type='text', placeholder="Lorem ispum placeholder")

    h4 Small height input
    
    p
        input.input.input--sm(type='text', placeholder="Lorem ispum placeholder")

    h4 Medium height input
    
    p
        input.input.input--md(type='text', placeholder="Lorem ispum placeholder")

    h4 Large height input
    
    p
        input.input.input--lg(type='text', placeholder="Lorem ispum placeholder")

    h4 Extra large height input
    
    p
        input.input.input--xlg(type='text', placeholder="Lorem ispum placeholder")
    
    h2 Textarea

    h4 Extra small height textarea

    p
        textarea.textarea.textarea--xsm(placeholder="Lorem ispum placeholder")

    h4 Small height textarea

    p
        textarea.textarea.textarea--sm(placeholder="Lorem ispum placeholder")

    h4 Medium height textarea

    p
        textarea.textarea.textarea--md(placeholder="Lorem ispum placeholder")

    h4 Large height textarea

    p
        textarea.textarea.textarea--lg(placeholder="Lorem ispum placeholder")

    h4 Extra large height textarea

    p
        textarea.textarea.textarea--xlg(placeholder="Lorem ispum placeholder")

    h4 Textarea horizontal

    p
        textarea.textarea.textarea--md.textarea--horizontal-resize


    h4 Textarea vertical

    p
        textarea.textarea.textarea--md.textarea--vertical-resize


    h4 Textarea with disabled resize

    p
        textarea.textarea.textarea--md.textarea--no-resize


    h2 Select

    p
        select.select.select--md
            option One
            option Two
            option ...

    h2 Checkbox

    .checontrol-single
        label.checkbox
            input.checkbox__control(type="checkbox")
            span.checkbox__description Some another text here

    .checontrol-single
        label.checkbox
            input.checkbox__control(type="checkbox")
            span.checkbox__description Some text here

    h2 Horizontal group of checkboxes

    .checkboxes-horizontal
        .checkboxes-horizontal__item
            label.checkbox
                input.checkbox__control(type="checkbox")
                span.checkbox__description Group item 1

        .checkboxes-horizontal__item
            label.checkbox
                input.checkbox__control(type="checkbox")
                span.checkbox__description Group item 2


    h2 Radio

    .control-single
        label.radio
            input.radio__control(type="radio", name="testRadio")
            span.radio__description Some text here

    .control-single
        label.radio
            input.radio__control(type="radio", name="testRadio")
            span.radio__description Some another text here


    h2 Horizontal group of radios

    .radios-horizontal
        .radios-horizontal__item
            label.checkbox
                input.radio__control(type="radio", name="testRadioHorizontal")
                span.radio__description Group item 1

        .radios-horizontal__item
            label.checkbox
                input.radio__control(type="radio", name="testRadioHorizontal")
                span.radio__description Group item 2

    h2 Switcher

    .control-single
        label.switcher
            input.switcher__control(type="checkbox")
            span.switcher__state

