extends chunks/layout.jade

block main    
    h2 Inputs1

    h4 Extra small height input
    
    p
        input.input.input--xsm-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Small height input
    
    p
        input.input.input--sm-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Medium height input
    
    p
        input.input.input--md-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Large height input
    
    p
        input.input.input--lg-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Extra large height input
    
    p
        input.input.input--xlg-h(type='text', placeholder="Lorem ispum placeholder")
    
    h2 Textarea

    h4 Extra small height textarea

    p
        textarea.textarea.textarea--xsm-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Small height textarea

    p
        textarea.textarea.textarea--sm-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Medium height textarea

    p
        textarea.textarea.textarea--md-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Large height textarea

    p
        textarea.textarea.textarea--lg-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Extra large height textarea

    p
        textarea.textarea.textarea--xlg-h(type='text', placeholder="Lorem ispum placeholder")

    h4 Textarea horizontal

    p
        textarea.textarea.textarea--md-h.textarea--md-w.textarea--horizontal-resize


    h4 Textarea vertical

    p
        textarea.textarea.textarea--md-h.textarea--md-w.textarea--vertical-resize


    h4 Textarea with disabled resize

    p
        textarea.textarea.textarea--md-h.textarea--md-w.textarea--no-resize