extends chunks/layout.jade

block main    
    h2 Navigation vertical

    ul.nav.nav--vertical(role="menu")
        li.nav__item.nav--vertical__item(role="menuitem")
            a.nav__link(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li.nav__item.nav--vertical__item(role="menuitem")
            a.nav__link.nav--vertical__link(href="#") Nav item #2
        li.nav__item.nav--vertical__item(role="menuitem")
            a.nav__link.nav--vertical__link(href="#") Nav item #3

    h2 Navigation horizontal

    ul.nav.nav--horizontal(role="menubar")
        li.nav__item.nav--horizontal__item(role="menuitem")
            a.nav__link.nav--horizontal__link(href="#") Nav item #1
        li.nav__item.nav--horizontal__item(role="menuitem")
            a.nav__link.nav--horizontal__link(href="#") Nav item #2
        li.nav__item.nav--horizontal__item(role="menuitem")
            a.nav__link.nav--horizontal__link(href="#") Nav item #3

    h2 Navigation expanded

    ul.nav.nav--expanded(role="menubar")
        li.nav__item.nav--expanded__item(role="menuitem")
            a.nav__link.nav--expanded__link(href="#") Nav item #1
        li.nav__item.nav--expanded__item(role="menuitem")
            a.nav__link.nav--expanded__link(href="#") Nav item #2
        li.nav__item.nav--expanded__item(role="menuitem")
            a.nav__link.nav--expanded__link(href="#") Nav item #3
        li.nav__item.nav--expanded__item(role="menuitem")
            a.nav__link.nav--expanded__link(href="#") Nav item #4

    h2 Navigation with color (used demo.css)

    ul.nav.nav--expanded.nav--gray(role="menubar")
        li.nav__item.nav--expanded__item.nav--gray__item(role="menuitem")
            a.nav__link.nav--expanded__link.nav--gray__link(href="#") Nav item #1
        li.nav__item.nav--expanded__item.nav--gray__item(role="menuitem")
            a.nav__link.nav--expanded__link.nav--gray__link(href="#") Nav item #2
        li.nav__item.nav--expanded__item.nav--gray__item(role="menuitem")
            a.nav__link.nav--expanded__link.nav--gray__link(href="#") Nav item #3
        li.nav__item.nav--expanded__item.nav--gray__item(role="menuitem")
            a.nav__link.nav--expanded__link.nav--gray__link(href="#") Nav item #4

