@import 'settings'
@import 'mixins/lists'

.breadcrumbs
    display flex
    {list-unstyled}

    &__item
        &:not(:last-child)
            margin-right breadcrumbs-item-margin
            if breadcrumbs-separator-content
                &:after
                    content breadcrumbs-separator-content
                    margin-left breadcrumbs-item-margin

    &__link, &__current
        white-space nowrap