@import 'settings'
@import 'mixins/inputs'

/**
    INPUTS
**/

.input
    display block
    width 100%
    padding-top 0
    padding-bottom 0
    background-color transparent
    border input-border-width > 0 ? (input-border-width solid input-border-color) : 0
    cursor pointer
    if transition-enabled
        transition background-color transition-time-md, color transition-time-md, border-color transition-time-md

//Sizes

//Generates input height
for key, value in input-height

    if value['enabled']
        .input--{key}-h
            create-input-height(value)

//Inputs help classes


/**
    TEXTAREAS
**/

.textarea
    display block
    width 100%
    background-color transparent
    border textarea-border-width > 0 ? (textarea-border-width solid textarea-border-color) : 0
    cursor pointer
    if transition-enabled
        transition background-color transition-time-md, color transition-time-md, border-color transition-time-md

//Sizes

//Generates textareas height
for key, value in textarea-height

    if value['enabled']
        .textarea--{key}-h
            create-textarea-height(value)

//Textares help classes

.textarea--no-resize
    resize none

.textarea--horizontal-resize
    resize horizontal

.textarea--vertical-resize
    resize vertical


.select
    display block
    width 100%
    border input-border-width > 0 ? (input-border-width solid input-border-color) : 0
    cursor pointer


//Sizes

//Generates select height
for key, value in input-height

    if value['enabled']
        .select--{key}-h
            create-select-height(value)


/**
    CHECKBOX, RADIO
**/


.checkbox, .radio
    position relative
    align-items center
    +above(screen-sm)
        display inline-flex
    +below(screen-sm)
        display flex
    &:after
        content "\A "
        display inline-block
        line-height 0
        white-space pre
    &__control, &__description:after
        position absolute
        width 1rem
        height 1rem
        top 0.0625rem
        left 0
    &__control
        visibility hidden
    &__description
        padding-left 1.625rem
        &:after
            border 0.0625rem solid input-border-color

.checkbox
    &__description
        &:after
            content '\2713'
            font-size 0
            text-align center
            line-height 1rem
            color darken(input-border-color, 20%)
            if transition-enabled
                transition font-size transition-time-md

    &__control
        &:checked
            + .checkbox__description
                &:after
                    font-size 1rem
                    
.radio
    &__description
        &:after
            content ' '
            border-radius 100%
            if transition-enabled
                transition font-size transition-time-md

        &:before
            content ' '
            position absolute
            left 0.25rem
            top 0.3125rem
            width 0.6rem
            height 0.6rem
            opacity 0
            background-color darken(input-border-color, 20%)
            border-radius 100%
            if transition-enabled
                transition opacity transition-time-md

    &__control
        &:checked
            + .radio__description
                &:before
                    opacity 1


.checkbox-single, .radio-single
    ^[0] + &
        margin-top 0.3125rem