@import 'settings'

.nav
    display flex

    &__link
        //when display flex text-overflow ellipsis will not work
        display block
        max-width 100%
        text-overflow ellipsis
        overflow hidden
        white-space nowrap
        if nav-underline-disabled
            text-decoration none

.nav--vertical
    flex-direction column

    &__item
        ^[1] + &
            margin-top nav-vertical-item-margin

.nav--horizontal
    flex-direction row

    &__link
        padding-left nav-horizontal-item-margin

.nav--expanded
    flex-direction row

    &__item
        flex-grow 1
    &__link
        text-align center