/**
    BASE
**/

page-line-height ?= 1.25
transition-enabled ?= true

/**
    PATHES
**/

path-node-modules ?= '../'

/**
    TRANSITIONS TIME
**/

//Fast animation
transition-time-sm ?= 125ms

//Normal animation
transition-time-md ?= 250ms

//Slow animation
transition-time-lg ?= 350ms


/**
    RESPONSIVE
**/

rupture.anti-overlap = -1px

screen-sm ?= 768px
screen-xs ?= 468px

/**
    BUTTONS
**/

btn-border-width ?= 0.0625rem

//Buttons sizes

//Button height
btn-height ?= { 

    //Extra small height of button
    xsm: {
        height: 1.875rem,
        padding-horizontal: 1.5rem,
        font-size: .75rem,
        enabled: true
    },

    //Small height of button
    sm: {
        height: 2.1875rem,
        padding-horizontal: 1.5rem,
        font-size: .875rem,
        enabled: true
    },

    //Meduim height of button
    md: {
        height: 2.5rem,
        padding-horizontal: 1.5rem,
        font-size: 1rem,
        enabled: true
    },

    //Large height of button
    lg: {
        height: 2.8125rem,
        padding-horizontal: 1.8rem,
        font-size: 1.125rem,
        enabled: true
    },

    //Extra large height of button
    xlg: {
        height: 3.125rem,
        padding-horizontal: 1.5rem,
        font-size: 1.25rem,
        enabled: true
    }

}

//Buttons colors

btn-styles ?= {

    //Green button style
    green: {
        background-color: #3F9927,
        color: #fff,
        border-color: darken(#3F9927, 20%),
        enabled: true
    },

    //Red button style
    red: {
        background-color: #CE3434,
        color: #fff,
        border-color: darken(#CE3434, 20%),
        enabled: true
    },

    //Blue button style
    blue: {
        background-color: #5E57BE,
        color: #fff,
        border-color: darken(#5E57BE, 20%),
        enabled: true
    },

    //Yellow button style
    yellow: {
        background-color: #DFFF60,
        color: #000,
        border-color: darken(#DFFF60, 20%),
        enabled: true
    }
}


/**
    INPUTS
**/

//Input border

input-border-color ?= #989494
input-border-width ?= 0.0625rem

//Inpur height

input-height ?= {
    
    //Extra small height of input
    xsm: {
        height: 1.875rem,
        padding-horizontal: .8rem,
        font-size: .75rem,
        enabled: true
    },
    
    //Small height of input
    sm: {
        height: 2.1875rem,
        padding-horizontal: 1rem,
        font-size: .875rem,
        enabled: true
    },
    
    //Meduim height of input
    md: {
        height: 2.5rem,
        padding-horizontal: 1rem
        font-size: 1rem,
        enabled: true
    },
    
    //Large height of input
    lg: {
        height: 2.8125rem,
        padding-horizontal: 1rem,
        font-size: 1.125rem,
        enabled: true
    },
    
    //Extra Large height of input
    xlg: {
        height: 3.125rem,
        padding-horizontal: 1rem,
        font-size: 1.25rem,
        enabled: true
    }

}


/**
    TEXTARES
**/


//Textarea border

textarea-border-color ?= #989494
textarea-border-width ?= 0.0625rem

//Textarea height

textarea-height ?= {
    
    //Extra small height of textarea
    xsm: {
        height: 3.125rem,
        padding-horizontal: 1rem,
        padding-vertical: .5rem,
        font-size: .75rem,
        enabled: true
    },
    
    //Small height of textarea
    sm: {
        height: 4.375rem,
        padding-horizontal: 1rem,
        padding-vertical: .5rem,
        font-size: .875rem,
        enabled: true
    },
    
    //Meduim height of textarea
    md: {
        height: 5.625rem,
        padding-horizontal: 1rem,
        padding-vertical: .5rem,
        font-size: 1rem,
        enabled: true
    },
    
    //Large height of textarea
    lg: {
        height: 6.875rem,
        padding-horizontal: 1rem,
        padding-vertical: .5rem,
        font-size: 1.125rem,
        enabled: true
    },
    
    //Extra Large height of textarea
    xlg: {
        height: 8.125rem,
        padding-horizontal: 1rem,
        padding-vertical: .5rem,
        font-size: 1.25rem,
        enabled: true
    }

}


/**
    FORMS
**/


form-item-margin ?= 0.625rem
form-separate-margin ?= form-item-margin * 1.5
form-item-inside-margin ?= form-item-margin / 2


/**
    NAVIGATION
**/


nav-horizontal-item-margin ?= .5rem
nav-vertical-item-margin ?= nav-horizontal-item-margin
nav-underline-disabled ?= false


/**
    BREADCRUMBS
**/

breadcrumbs-separator ?= '\00bb'
breadcrumbs-item-margin ?= 0.25rem